node_modules
dist
.DS_Store
*.log
coverage
.vite
.astro
.output
.nuxt
.next
build
.claude
.idea
CLAUDE.md
/spec
screenshots
.playwright-mcp
spec
test-results/
playwright-report/
.vinxi
app.config.timestamp*
**/locales/compiled/